<%# app/assets/javascript/my_app/templates %>
angular.module('templates', []).run([ '$templateCache', function($templateCache) {
  <%
    environment.context_class.instance_eval { include ActionView::Helpers::JavaScriptHelper }
    app_root  = File.expand_path('../', __FILE__)
    templates = File.join(app_root, %w{templates ** *})

    Dir.glob(templates).each do |f|
      depend_on(f)
      key = f.gsub(%r(^#{app_root}/templates/),'').split('.').first
      content = environment.find_asset(f).to_s
  %>
    $templateCache.put("<%= key %>", "<%= escape_javascript(content) %>" );
<% end %>
}]);


