<div class="jumbotron">
  <h1>Analaytics (Demo)</h1>
  <p class="lead">This application is a demo application built to demonstrate and explore the use of analytics data within the Apple organization.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Top URLs</h4>
    <p>Retrieve the number of page views per URL, grouped by day, for the past 5 days.</p>
  </div>

  <div class="col-lg-6">
    <h4>Top Referrers</h4>
    <p>Retrieve the top 5 referrers for the top 10 URLs grouped by day, for the past 5 days, via a REST endpoint.</p>
  </div>
</div>

<footer class="footer">
  <p>&copy; Apple 2015</p>
</footer>

