<h1>{{ title }}</h1>

<div>
  <table class='table' ng-repeat="(date, visits) in data">
    <caption>{{ date }}</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>URL</th>
        <th>Visits</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="visit in visits">
        <th scope="row">{{ $index + 1 }}</th>
        <td>
          <div>{{ visit.url }}</div>
          <h6>Top Referrers</h6>
          <ul ng-repeat="v in visit.referrers">
            <li>url: {{ v.url}} - visits: {{ v.visits }}</li>
          </ul>
        </td>
        <td>{{ visit.visits }}</td>
      </tr>
    </tbody>
  </table>
</div>
