<h1>{{ title }}</h1>

<div>
  <table class='table' ng-repeat="(date, visits) in data">
    <caption>{{ date }}</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>URL</th>
        <th>Visits</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="visit in visits">
        <th scope="row">{{ $index + 1 }}</th>
        <td>{{ visit.url }}</td>
        <td>{{ visit.visits }}</td>
      </tr>
    </tbody>
  </table>
</div>
