<!DOCTYPE html>
<html>
<head>
  <title>Apple</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body>
  <div ng-app="Apple" class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a ng-href="/">Home</a></li>
          <li role="presentation"><a ng-href="reports/top_urls">Top URLs</a></li>
          <li role="presentation"><a ng-href="reports/top_referrers">Top Referrers</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Apple</h3>
    </div>

    <div class="container" ng-view>
    </div>

  </div> <!-- /container -->
</body>
</html>
